:root {
  --1000: hsl(225, 9%, 9%);
  --900: hsl(216, 8%, 12%);
  --800: hsl(220, 7%, 18%);
  --700: hsl(216, 9%, 23%);
  --600: hsl(216, 9%, 9%);
  --500: hsl(213, 4%, 51%);
  --400: hsl(222, 9%, 78%);
  --300: hsl(0, 0%, 89%);
  --200: hsl(0, 0%, 96%);
  --100: hsl(0, 0%, 100%);
  --orange: hsl(13, 75%, 58%);
  --orange-hover: hsl(21, 86%, 67%);

  /*
* Look into the following styles:
*
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
*/
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--1000);
    color: var(--400);
  }
}
